html {
    margin: 0;
    background-color: #c6dbf8;

}
.title{
  position: absolute;
  margin: 1% 10%;
  border-bottom: 5px solid green;
  margin-bottom: 25px;
  text-align: center;
  font-size: 3.8rem;
  padding:25px;
  color: rgb(71, 71, 95);
}
.btn{
  margin:0 40%;
}
.third{
  text-decoration: none;
  color: white;
}
.third:hover{
    text-decoration: none;
    color: white;
  }
  p{
      font-size: 1.3rem;
  }
  h2{
      font-size: 2rem;
  }